﻿@{
    ViewData["Title"] = "Kitablar";
}

@model ICollection<Book>
<!--BANNER START-->

<main role="main" class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="second-slide" src="~/manage/img/book/5f1afd2e-5b09-4481-90f3-17ca9f68d4f1Image 1.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



</main>

<!--BANNER END-->

<!--START OUR SERVICES-->
<div class="our-services">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-truck mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Elmlər Akademiyası metrostansiyasına çatdırılma pulsuzdur.</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-undo mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Əlavə olaraq Rayonlara Poçt vasitəsilə çatdırılma mümkündür</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-piggy-bank mr-3"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Ödənişi nəğd və ya kart vsitəsilə etmək mümkündür</h5>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="service">
                    <div class="media">
                        <div class="service-card">
                            <i class="fas fa-hands-helping mr-3"></i>
                            <div class="media-body">
                                <a target="_blank" href="https://wa.me/+994556280899" class="mt-0">WhatsApp hesabımıza yazmaq üçün bura toxunun </a>
                                <a></a>
                                <font style="vertical-align: inherit;"></font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END OUR SERVICES-->
<!-- START PORTOLIO SECTION -->
<div class="portfolio-section">
    <div class="container">
        <div class="row container-md">

            <!-- START PORTFOLIO HEADING -->
            <div class="col-12">
                <div class="portfolioHeading text-center">
                    <h1 class="high-lighted-heading">MƏHSULLARIMIZ</h1>
                    <p>İkinci əl kitabların online satış platforması.</p>
                </div>
            </div>
            <!-- END PORTFOLIO HEADING -->
            <!-- START FILTERS -->
            @*            <div class="col-12">
            <div class="clearfix d-flex justify-content-center">
            <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All </div>
            <div data-filter=".Classic" class="cbp-filter-item">Classics</div>
            <div data-filter=".Fantasy" class="cbp-filter-item">Fantasy</div>
            <div data-filter=".motion" class="cbp-filter-item">Historical Fiction</div>
            </div>
            </div>
            </div>*@
            <!-- END FILTERS -->
            <!-- START PORTFOLIO IMAGES -->
            <div class="row text-center container">
                @foreach (var books in Model)
                {
                    <div class="card" style="width: 16rem;margin:10px">
                        <img class="card-img-top" src="~/manage/img/book/@books.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@books.Name</h5>
                            <p class="card-text">@books.Price AZN</p>
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@books.Id" class="btn btn-primary">Ətraflı</a>
                        </div>
                    </div>
                }
            </div>

            <!-- END PORTFOLIO IMAGES -->

        </div>

    </div>
    <hr />
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/slider/lib/easing/easing.min.js"></script>
<script src="~/slider/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/slider/mail/jqBootstrapValidation.min.js"></script>
<script src="~/slider/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/slider/js/main.js"></script>