@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

@model BasketContact
<!-- End Header -->
<!-- ======= Sidebar ======= -->

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Manage" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Order</li>
                <li class="breadcrumb-item active">View</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">

            <div class="col-lg-6 container">


                <div class="card container">
                    <div class="card-body">
                        <h5 class="card-title">Order info</h5>

                        <!-- No Labels Form -->
                        <form class="row g-3" method="post" enctype="multipart/form-data">
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Name" class="form-control" readonly>
                            </div>

                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Surname" class="form-control" readonly>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Email" class="form-control" readonly>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Phone" class="form-control" readonly>
                            </div>
                            <div class="col-md-12">
                                <label>Message:</label>
                                <textarea asp-for="Message" rows="5" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                                <label>BookId:</label>
                                <input asp-for="BookId" class="form-control" readonly>
                            </div>
                            <div class="col-md-12">
                                <label>Book name:</label>
                                <input asp-for="BookName" class="form-control" readonly>
                            </div>
                            <div class="col-md-12">
                                <label>Book Price:</label>
                                <input asp-for="BookPrice" class="form-control" readonly>
                            </div>
                            <div class="col-md-12">
                                <label>Author:</label>
                                <input asp-for="Author" class="form-control" readonly>
                            </div>

                            <div>
                                <a class="btn btn-warning" asp-controller="BasketContact" asp-action="Index"><i class="bi bi-arrow-return-right"></i></a>
                            </div>
                        </form><!-- End No Labels Form -->

                    </div>
                </div>


            </div>
        </div>
    </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
