
@{
    ViewData["Title"] = "Add";
}
@model BookVM
<h1>Add</h1>

<!-- End Header -->
<!-- ======= Sidebar ======= -->
@{
    string[] languages = { "Azərbaycan", "Türk", "İngilis", "Rus", "Alman", "Fransız" };
}
<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Manage" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Book</li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">

            <div class="col-lg-6 container">


                <div class="card container">
                    <div class="card-body">
                        <h5 class="card-title">Add book</h5>

                        <!-- No Labels Form -->
                        <form class="row g-3" method="post" enctype="multipart/form-data">
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Image" class="form-control" placeholder="Image">
                                <span asp-validation-for="Image" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Publisher" class="form-control" placeholder="Publisher">
                                <span asp-validation-for="Publisher" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Author" class="form-control" placeholder="Author">
                                <span asp-validation-for="Author" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span asp-validation-for="Price" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Instagram" class="form-control" placeholder="Instagram">
                                <span asp-validation-for="Instagram" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="Facebook" class="form-control" placeholder="Facebook">
                                <span asp-validation-for="Facebook" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="ShortDescription" class="form-control" placeholder="Short Description">
                                <span asp-validation-for="ShortDescription" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <textarea asp-for="LongDescription" rows="7" class="form-control" placeholder="Long Description"></textarea>
                                <span asp-validation-for="LongDescription" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="PageCount" class="form-control" placeholder="PageCount">
                                <span asp-validation-for="PageCount" style="color:red;"></span>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span asp-validation-for="SKU" style="color:red;"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Category</label>
                                <select asp-for="CategoryId" id="inputState" class="form-select" asp-items="@ViewBag.Categories">
                                    <option disabled selected>Choose...</option>
                                </select>
                                <span asp-validation-for="Language" style="color:red;"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Language</label>
                                <select asp-for="Language" id="inputState" class="form-select" asp-items="@ViewBag.Positions">
                                    <option disabled selected>Choose...</option>
                                    @foreach (string langs in @languages)
                                    {
                                        <option>@langs</option>
                                    }
                                </select>
                                <span asp-validation-for="Language" style="color:red;"></span>
                            </div>


                            <div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form><!-- End No Labels Form -->

                    </div>
                </div>


            </div>
        </div>
    </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
