<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags For Seo + Page Optimization -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description" content="">
    <!-- keywords -->
    <meta name="keywords" content="">
    <!-- Page Title -->
    <title>Kitabal.biz.tr | @ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/vendor/img/favicon.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="~/vendor/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="~/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/css/swiper.min.css">
    <link rel="stylesheet" href="~/vendor/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/vendor/css/wow.css">
    <link rel="stylesheet" href="~/vendor/css/LineIcons.min.css">
    <link rel="stylesheet" href="~/shop/css/nouislider.min.css">
    <link rel="stylesheet" href="~/shop/css/range-slider.css">
    <!-- Mega Menu  -->
    <link rel="stylesheet" href="~/book-shop/css/megamenu.css">
    <!-- StyleSheet  -->
    <link rel="stylesheet" href="~/book-shop/css/style.css">
    <!-- Custom Css  -->
    <link rel="stylesheet" href="~/book-shop/css/custom.css">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/import/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/import/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/import/css/style.css" rel="stylesheet">

    @await RenderSectionAsync("AddCss", required:false)

</head>
<body>

    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

    <!--LOADER-->
    <div class="loader">
        <div class="loader-spinner"></div>
    </div>
    <!--LOADER-->
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">About</a>
                    <a class="text-body mr-3" href="">Contact</a>
                    <a class="text-body mr-3" href="">Help</a>
                    <a class="text-body mr-3" href="">FAQs</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Sign in</button>
                            <button class="dropdown-item" type="button">Sign up</button>
                        </div>
                    </div>
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">USD</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">EUR</button>
                            <button class="dropdown-item" type="button">GBP</button>
                            <button class="dropdown-item" type="button">CAD</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">EN</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">FR</button>
                            <button class="dropdown-item" type="button">AR</button>
                            <button class="dropdown-item" type="button">RU</button>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+012 345 6789</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="row footer-container">
                <div class="col-sm-12 col-lg-4 f-sec1  text-center text-lg-left">
                    <h4 class="high-lighted-heading">Bizim haqqımızda</h4>
                    <p>Keyfiyyətli təhsilə qlobal çıxışımızı artırmaq missiyamıza ciddi yanaşırıq.</p>
                    <a href="#">Daha çox oxu</a>
                    <h4>Sosial şəbəkə</h4>
                    <div class="s-icons">
                        <ul class="social-icons-simple">
                            <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                            <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5 f-sec2 ">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h4 class="text-center text-md-left">Məlumat</h4>
                            <ul class="text-center text-md-left">
                                <li><a href="javfascript:void(0)">Bizim haqqımızda</a></li>
                                <li><a href="jafvascript:void(0)">Çatdırılma məlumatı</a></li>
                                <li><a href="javfascript:void(0)">Gizlilik Siyasətiy</a></li>
                                <li><a href="javfascript:void(0)">Qaydalar və Şərt</a></li>
                                <li><a href="jafvascript:void(0)">Tez-tez verilən suallar</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Bizimlə əlaqə saxlayın</a></li>
                                <li><a>Məhsullar</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-center text-md-left">Hesab Məlumatı</h4>
                            <ul class="text-center text-md-left">
                                <li><a href="javascript:void(0)">Mənim Hesabım</a></li>
                                <li><a asp-controller="Account" asp-action="Login">Giriş & Qeydiyyatdanr</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 f-sec3  text-center text-lg-left">
                    <h4>Our Portfolio</h4>
                    <div class="foot-tag-list">
                        <span>Classic</span>
                        <span>Journal</span>
                        <span>History</span>
                        <span>Poetry</span>
                        <span>Dictionary</span>
                        <span>Shopping</span>
                        <span>Fantasy</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 footer_notes">
                    <p class="whitecolor text-center w-100 wow fadeInDown">&copy;Bu səyfə 2023-cü ildə Program Təminatçıları, Əli və Ruslan  tərəfindən sevgi ilə hazırlanmışdır <a class="web-link" target="_blank"></a></p>
                </div>
            </div>
        </div>
    </div>
    <!--foo0ter1 sec end-->

    <script src="~/book-shop/js/map.js"></script>
    <!--END Cart Box -->
    <!-- JavaScript -->
    <script src="~/vendor/js/bundle.min.js"></script>
    <!-- Plugin Js -->
    <script src="~/vendor/js/jquery.fancybox.min.js"></script>
    <script src="~/vendor/js/owl.carousel.min.js"></script>
    <script src="~/vendor/js/swiper.min.js"></script>
    <script src="~/vendor/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/vendor/js/wow.min.js"></script>
    <script src="~/vendor/js/bootstrap-input-spinner.js"></script>
    <script src="~/vendor/js/parallaxie.min.js"></script>
    <script src="~/vendor/js/stickyfill.min.js"></script>

    <script src="~/book-shop/js/nouislider.min.js"></script>
    <!-- Custom Script -->
    <script src="~/book-shop/js/script.js"></script>

    <!-- JavaScript Libraries -->

    <!-- Template Javascript -->
    <script src="~/import/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required:false)





</body>
</html>
